{% load static %}
<header>
    <nav class="navbar navbar-expand-lg fixed-top p-md-0">
        <div class="container-fluid">
            <div class="d-md-none menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="d-none d-md-none close">
                <i class="fa-solid fa-xmark fa-xl"></i>
            </div>
            <a class="navbar-brand d-none d-md-block mt-1" href="#">
                <h4 class="text-dark">Billsnap</h4>
            </a>
            <div class="d-flex ms-auto gap-4 pe-3">
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-regular fa-bell"></i>
                    </button>
                    {% url 'customer-notifications-nav' %}
                    <ul class="dropdown-menu dropdown-menu-end mt-4">
                        {% for notification in notifications %}
                        <li><a class="dropdown-item" href="#">{{ notification.body }}</a></li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'customer-notifications' %}">View all Notifications</a></li>

                    </ul>
                </div>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-regular fa-user"></i>

                    </button>
                    <ul class="dropdown-menu dropdown-menu-end mt-4">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
            
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>